
<<<<<<< HEAD





/* Partie Cédric */
body {
    background-image: url('../img/body-yams-mobil.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100vh;
}
@media all and (min-width: 992px) {
    body {
        background-image: url('../img/body-yams-desktop.jpg');
        height: 100vh;
    }
}

#table-score td {
    text-align: center;
    border: #dadada 1px solid;
    font-weight: 900;
}
.btn-table {
    border: none;
    font-weight: 700;
    width: 100%;
}

.td-modal {
    text-align: left;
}
td.active {
    background-color: #d1e7dd;
}
td.select:hover {
    box-shadow: 0 0 3px 1px #198754 inset;
}
.title-logo {
    font-weight: 900;
    font-style: italic;
}

.text-shadow {
    text-shadow: #000 1px 0 20px;
}
.selected {
        vertical-align: middle;
        background-image:  url('../img/check-des.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;

}


/* Partie Nicolas */
=======
>>>>>>> 3453f3724a2853a751bcbde84f67d724839c155c
