/* Partie Medhi */

.dice-container {
    display: flex;
}

.die {
    width: 100px;
    height: 100px;
    margin: 5px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.des {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
}

.selected {
    border-bottom: 4px solid black;
    
}


/* Partie Cédric */

/* Partie Nicolas */